@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100;1,400;1,700&display=swap");
@import url('../node_modules/font-awesome/css/font-awesome.min.css');

* {
  font-family: "Roboto", sans-serif;
}
table,
th,
tr,
td {
  padding: 5px;
  border: 1px solid black;
}
.Gtable {
  margin: 2%;
}
.hide {
  visibility: hidden;
}
.puja {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.big_name {
  font-size: 30px;
  font-weight: bolder;
}
.centerpos {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup {
  min-height: 68vh;
}
.signup_reg {
  min-height: 73vh;
}
.contact_form {
  min-height: 90vh;
}

